:root{ 
 --Red-400: #fe7867ff;
 --Yellow-500: #fad400ff;
 --Green-800: #25564bff;
 --Blue-800: #19536bff;
 --Green-500: rgba(127, 221, 201, 0.737);;
 --Grey-950: #23303eff;
 --Grey-600: #5a636cff;
 --Grey-50: #818498ff;
 --Grey-400: #a7abaeff;
 --White: #ffffffff;
}